<a href="https://colab.research.google.com/github/naimahanum/KKASmt1/blob/main/Fungsi_print_Naima_Hanum_P_XI_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Menampilkan Teks Bebas

In [ ]:
print("Halo dunia")

Halo dunia

In [ ]:
print("selamat datang di Phyton")

selamat datang di Phyton

In [ ]:
print ('Naima Hanum Pratiwi')

Naima Hanum Pratiwi

# Variabel

In [ ]:
BB = 42
print(BB)

42

In [ ]:
umur = 15
print(umur)

15

In [ ]:
nama = "Naima Hanum Pratiwi"

# Menampilkan teks bebas dan variabel

In [ ]:
print(f"umur saya 15 tahun")

umur saya 15 tahun

In [ ]:
print("Halo " + nama)

Halo Naima Hanum Pratiwi

In [ ]:
harga_telur = 2600

print("Harga telur per 1 kg adalah", harga_telur)

Harga telur per 1 kg adalah 2600

In [ ]:
harga_telur = 2600

print("Harga telur per 1 kg adalah " + str(harga_telur))

Harga telur per 1 kg adalah 2600

In [ ]:
nama_pembeli = "Hanum"

print("Nama pembeli telur adalah " + nama_pembeli)

Nama pembeli telur adalah Hanum

Latihan soal
1. tampilkan teks bebas : Hari ini saya bahagia belajar bahasa python
2. tampilkan nilai variabel : mata_pelajaran_favorit = kode dan kecerdasan buatan
3. tampilkan nilai variabel : nilai_kka = 100
4. tampilkan teks bebas dan nilai variabel dengan tiga metode (f string,"+",","):" Nilai KKA saya adalah {nilai_kka} loh!"

In [ ]:
print ("hari ini saya bahagia belajar bahasa phyton")

hari ini saya bahagia belajar bahasa phyton

In [ ]:
mata_pelajaran_favorit = "Kode dan Kecerdasan Buatan"
print(mata_pelajaran_favorit)

Kode dan Kecerdasan Buatan

In [ ]:
nilai_kka = 100
print(nilai_kka)

100

In [ ]:
print(f"Nilai KKA saya adalah {nilai_kka} loh!")

Nilai KKA saya adalah 100 loh!

In [ ]:
print("Nilai KKA saya adalah " + str(nilai_kka) + " loh!")

Nilai KKA saya adalah 100 loh!

In [ ]:
print ("Nilai KKA saya adalah" , nilai_kka, "loh")

Nilai KKA saya adalah 100 loh

#Escape Character

In [ ]:
print("Nama: Naima Hanum Pratiwi")
print("Kelas: XI. 1")
print("Nomor absen: 27")

Nama: Naima Hanum Pratiwi
Kelas: XI. 1
Nomor absen: 27

In [ ]:
print ("Nama\t\t: Naima Hanum Pratiwi\nKelas\t\t: XI.1\nNomor absen\t: 27")

Nama		: Naima Hanum Pratiwi
Kelas		: XI.1
Nomor absen	: 27

In [ ]:
print("""Nama: Naima Hanum Pratiwi
Kelas: XI.1
Nomor absen: 27""")

Nama: Naima Hanum Pratiwi
Kelas: XI.1
Nomor absen: 27

In [ ]:
print('Ja\'far Shodiq')

Ja'far Shodiq

In [ ]:
print("Ja'far Shodiq")

Ja'far Shodiq

In [ ]:
print("Bu Shinta berkata, \"Semua harus menyimak pelajaran. \"")

Bu Shinta berkata, "Semua harus menyimak pelajaran. "

In [ ]:
print('Bu Shinta berkata, \"Semua harus menyimak pelajaran. \"')

Bu Shinta berkata, "Semua harus menyimak pelajaran. "

In [ ]:
print("Lokasi file video karnaval ada di D:\\Karnaval 2025\\mp4")

Lokasi file video karnaval ada di D:\Karnaval 2025\mp4

#Parameter fungsi print

In [ ]:
Tahun = 2009
Bulan = "Agustus"
Tanggal = 17

print(Tanggal, end=" ")
print(Bulan, end=" ")
print(Tahun)

17 Agustus 2009

In [ ]:
Tahun = 2009
Bulan = "Agustus"
Tanggal = 17

print(Tanggal, Bulan, Tahun, sep=" ")

17 Agustus 2009

Latihan:

Tanggal-Bulan-Tahun

In [ ]:
Tahun = 2009
Bulan = "Agustus"
Tanggal = 17

print(Tanggal, Bulan, Tahun, sep="-")

17-Agustus-2009

In [ ]:
Nama_depan = "Naima"
Nama_belakang = "Hanum"

print(Nama_depan, Nama_belakang)

Naima Hanum

In [ ]:
Nama_depan = "Naima"
Nama_belakang = "Hanum"
print(Nama_depan, end=" ")
print(Nama_belakang)

Naima Hanum

In [ ]:
print('Bu Shinta berkata, "berikut adalah judul pelajaran hari senin selasa rabu silahkan disimpan di laptop masing-masing di folder local disk D:\\Jadwal Pelajaran\\Kelas XI Semester I "')

print("\nJadwal Pelajaran Mingguan")
print("=====================================================")
print("Jam\tSenin\t\tSelasa\t\tRabu")
print("Jam 1\tMatematika\tBahasa\t\tInformatika")
print("Jam 2\tBahasa ing.\tSejarah\t\tMa'rifatullah")
print("Jam 3\tInformatika\tOlahraga\tBiologi")

Bu Shinta berkata, "berikut adalah judul pelajaran hari senin selasa rabu silahkan disimpan di laptop masing-masing di folder local disk D:\Jadwal Pelajaran\Kelas XI Semester I "

Jadwal Pelajaran Mingguan
=====================================================
Jam	Senin		Selasa		Rabu
Jam 1	Matematika	Bahasa		Informatika
Jam 2	Bahasa ing.	Sejarah		Ma'rifatullah
Jam 3	Informatika	Olahraga	Biologi

In [ ]:
nama_siswa_1 = "Favian"
nama_siswa_2 = "Naufal"
nama_siswa_3 = "Humaira"


print(nama_siswa_1, nama_siswa_2, nama_siswa_3, sep="~")

Favian~Naufal~Humaira

In [ ]:
print(nama_siswa_2, end="~")
print(nama_siswa_1)


print(nama_siswa_3, end="~")
print(nama_siswa_1)

Naufal~Favian
Humaira~Favian